*{
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(151,179,161);
}
h1{
    color:white;
}

.bodytext{
    font-size: 17px;
    color:white;
}

#logo{
    height:90px;
    opacity: 0.6;
    border-radius: 10px;
}

#background{
    object-fit: cover;
    background-image: "Images/SSbackground.jpg";
}

header{
    width:100%;
    display: flex;
    justify-content: space-between;
}
nav>ul{
    width: 500px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 14px;
    padding-right: 10px;
    font-size:1.2rem;
    position: center;
    gap: 0;
    font-weight: 200;

}
nav a:visited, nav a:active{
    color: white;
}

.title{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;    
    
}
#whitestrip{
    height: 10px;
    background-color: rgb(96,138,121);
}
.bckgrdIMG{
    background-image: url("Images/SSbackground.jpg");
    background-size: cover;
    padding-top: 25px;
    height: 575px;
    margin: 0;
    position: relative;
    filter: blur(0.7px);
    display: flex;
    justify-content: space-between;

 
}
.bannertext{
    opacity: .7;
    color:black;
    font-size: 7rem;
}
main{
    text-align: center;
    color: white;
}
#ad1{
    margin: auto;
    height: 600px;
    display: block;
    width:auto;
   
}

#banner{
    background-color: rgb(96,138,121);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.banner-buttons{
    background-color:white;
    padding: 20px;
    border-radius: 10px;
}
#banner a{
    color: rgb(58,58,58);
    text-decoration: none;
    font-weight: bold;
    
}

#mission-statement{
    width: 30%;

}
#mission-container{
    display: flex;
    justify-content: center;
    gap:100px;
}
footer{
    height: 300px;
    background-color: rgb(96,138,121);
    
}