*{
    font-family: sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    background-color: white;
}
h1, h3{
  color:black;
}

.bodytext{
    font-size: 17px;
    color:black;
}

#logo{
    height:90px;
    opacity: 1;
    border-radius: 10px;
    vertical-align: middle;
    margin-top: 0px;

}


#background{
    object-fit: cover;
    background-image: "Images/SSbackground.jpg";
}

header{
    width:100.1%;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 4;
    background-color: white;
    height: 90px;
    margin-top: -10px;
    margin-left: -10px;
    gap: 300px;
    
}
#logo-text{
    font-size: 3rem;
    text-align: center;
    color: rgb(81, 139, 36);
    vertical-align: center;
    position: center;
    margin-top: 8px;
    font-weight: 900;
    width: 40%;
    margin-left: -100px;
    min-width: 40%;

}
nav>ul{
    width: 700px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 14px;
    padding-right: 10px;
    font-size:1.2rem;
    position: center;
    gap: 0px;
    font-weight: 100;
    margin-left: -350px;
    
}
nav ul li a{
    padding: 20px;
    border-radius: 10px;
}
nav a:visited, nav a:active{
    color: rgb(81, 139, 36);
}
nav a:hover{
    background: linear-gradient(rgb(230,230,230) 5%,rgb(200,200,200) 85%, rgb(230,230,230) 100%);
    filter: blur(0.4px);
}

.divider{
    height: 10px;
    background-color: rgb(81, 139, 36);
    margin-left: -10px;
    margin-right: -10px;
}

#top-bar{
    background-color: rgb(81, 139, 36);
    height: 6px;
    z-index: 6;
    position: fixed;
    width: 110%;
    margin-left:-10px;
    margin-top: -10px;
}
#bot-bar{
    background-color: orange;
    height: 2px;
    z-index: 6;
    position: fixed;
    width: 110%;
    margin-left: -10px;
    margin-top: 80px;
    opacity: 0.4;
}

.bckgrdIMG{
    background-image: url("Images/SSbackground.jpg");
    background-size: cover;
    padding-top: 25px;
    height: 575px;
    margin: 0 -10px;
    position: relative;
    filter: blur(0.7px);
    z-index: 2;
    
 
}
.bannertext{
    text-align: center;
    opacity: .7;
    color:black;
    font-size: 4.2rem;
    width: 60%;
    margin: auto;
    margin-top: 225px;

}
main{
    text-align: center;
    color: white;
}
#ad1{
    margin: auto; 
    height: 600px;
    display: block;
    width: 102%;
    border-color: black;
    background-color: rgb(81, 139, 36);
    margin-left:-10px;
    margin-right:-20px;
}
#banner{
    background-color: rgba(81, 139, 36, 0.35);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-left: -10px;
    z-index: 3;
    margin-top: 75px;



}
.banner-buttons{
    background-color:white;
    padding: 20px;
    border-radius: 7px;
    opacity: 1;
}
.banner-buttons:hover{
    transform: scale(2);
    background-color: rgb(133,133,133);
}

#banner a{
    color: rgb(58,58,58);
    text-decoration: none;
    font-weight: bold;
    
}

#mission-statement{
    width: 30%;

}
#mission-container{
    display: flex;
    justify-content: space-evenly;
    gap:100px;
    width: 90%;
    margin: auto;
}
#vert-divider{
    width: 10%;
    background-color: black;
    height: 100px;
}
#builder{
    height: 350px;
    margin: auto;
    background-image: url("Images/builder.jpg");
    width:250px;
    background-size: 250px;
    background-repeat: no-repeat;
    border-radius: 15px;
    transition: transform 0.5s ease-in-out;
}
#person1{
    height: 350px;
    margin: auto;
    background-image: url("Images/person1.jpg");
    width:250px;
    background-size: 250px;
    background-repeat: no-repeat;
    border-radius: 15px;
    transition: transform 0.5s ease-in-out;
}
#person2{
    height: 350px;
    margin: auto;
    background-image: url("Images/person2.jpg");
    width:250px;
    background-size: 250px;
    background-repeat: no-repeat;
    border-radius: 15px;
    transition: transform 0.5s ease-in-out;
}
#person1:hover, #builder:hover, #person2:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
}
.icon-1{
    background-image: url("Images/CharityIcon.png");
    height: 200px;
    width: 200px;
    margin: auto;
    background-size: 150px;
    padding-top: 100px;
    background-repeat: no-repeat;
}
.icon-2{
    background-image: url("Images/BuildPlanIcon.png");
    height: 200px;
    width: 200px;
    margin: auto;
    background-size: 150px;
    padding-top: 100px;
    background-repeat: no-repeat;
}
.icon-3{
    background-image: url("Images/BuilderIcon.png");
    height: 200px;
    width: 200px;
    margin: auto;
    background-size: 150px;
    padding-top: 100px;
    background-repeat: no-repeat;
}
.icon-4{
    background-image: url("Images/SurveyFormIcon.png");
    height: 200px;
    width: 200px;
    margin: auto;
    background-size: 150px;
    padding-top: 100px;
    background-repeat: no-repeat;
}
#services{
    height: 600px;
    background-color: white;
    width:100%;
    display: flex;
    justify-content: space-around;
    gap: -1000px;
    
}
footer{
    height: 600px;
    background-color: rgb(96,138,121);
    width: 102%;
    margin-bottom: -10px;
    margin-left:-10px;
}