*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.bodytext{
    font-size: 17px;
    color:black;
}

#logo{
    height:90px;
    opacity: 1;
    border-radius: 10px;
    vertical-align: middle;
    margin-top: 0px;

}

#background{
    object-fit: cover;
    background-image: "Images/SSbackground.jpg";
}

header{
    width:100.1%;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 4;
    background-color: white;
    height: 90px;
    margin-top: -10px;
    margin-left: -10px;
    gap: 300px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    
}
#logo-text{
    font-size: 3rem;
    text-align: center;
    color: #497043;
    vertical-align: center;
    position: center;
    margin-top: 8px;
    font-weight: 900;
    width: 40%;
    margin-left: -100px;
    min-width: 35%;
    padding-left: 200px;

}
nav{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    font-size: 1vw;
    width: 45%;
}
nav a{
    text-decoration: none;
    color: #497043;
}
nav a:visited{
    color:#497043;
}
#contact-text{
    margin: auto;
    width: 40%;
    padding-top: 25px;
    color: white;
    text-align: center;
    font-size: 1.3vw;
}
.btn {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
  } 
   
  .btn:hover .btn-slide-show-text1 {
    margin-left: 65px;
  } 
   
  .btn-shadow-drop {
    position: relative;
    margin-top: 10%;
    background: rgb(249, 250, 250);
    padding: 20px;
    font-size: 0.9em;
    font-weight: 700;
    transition: all 0.3s ease-in-out 0s;
    left: 0px;
    top: 0px;
    width: 180px;
  } 
   
  .btn-shadow-drop:hover {
    left: 4px;
    top: 4px;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
  } 
   
  .btn-shadow-drop--green {
    border: 1px solid #497043;
    color: #497043;
    box-shadow: #497043 4px 4px 0px 0px;
  } 
.divider{
    height: 10px;
    background-color: #497043;
    margin-left: -10px;
    margin-right: -10px;
}

.spacer{
    height:100px;

}

#top-bar{
    background-color:#497043;
    height: 6px;
    z-index: 6;
    position: fixed;
    width: 110%;
    margin-left:-10px;
    margin-top: -10px;
}
#bot-bar{
    background-color: orange;
    height: 2px;
    z-index: 6;
    position: fixed;
    width: 110%;
    margin-left: -10px;
    margin-top: 80px;
    opacity: 0.4;
}

.bckgrdIMG{
    background-image: url("Images/SSbackground.jpg");
    background-size: cover;
    padding-top: 25px;
    height: 575px;
    margin: 0 -10px;
    position: relative;
    filter: blur(0.7px);
    z-index: 2;
    
 
}
.bannertext{
    text-align: center;
    opacity: .7;
    color:black;
    font-size: 3vw;
    width: 60%;
    margin: auto;
    margin-top: 225px;

}
#ad1{
    margin:100px auto 100px auto;
    width: 60%;
    height: 40%;
}
#vid{
    border: 20px solid;
    border-color: rgb(96,138,121);
    border-radius: 0px;
}
#banner{
    background-color: rgba(81, 139, 36, 0.35);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px -200px 0px -200px;
    z-index: 3;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.banner-buttons{
    background-color:white;
    padding: 20px;
    border-radius: 7px;
    opacity: 1;
}
.banner-buttons:hover{
    transform: scale(2);
    background-color: rgb(133,133,133);
}

#banner a{
    color: rgb(58,58,58);
    text-decoration: none;
    font-weight: bold;
    font-size: 1vw;
    
}

#mission-statement{
    width: 30%;
    background-color: #426E48;
    border-radius: 0px;
    padding: 0 10px;
    margin-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border: 10px, solid;
    border-color: black;
    color: white;
    text-align: center;
    font-weight: 100;
}
#mission-container{
    display: flex;
    justify-content: space-evenly;
    gap:100px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
#vert-divider{
    width: 10%;
    background-color: black;
    height: 100px;
}
#builder{
    background-image: url("Images/builder.jpg");
}
#person3{
    background-image: url("Images/person3.jpg");
}
#person2{
    background-image: url("Images/person2.jpg");
}
#builder, #person3, #person2{
    height: 420px;
    margin: auto;
    width:300px;
    background-size: 300px;
    background-repeat: no-repeat;
    border-radius: 15px;
    transition: transform 0.5s ease-in-out;
}
#person3:hover, #builder:hover, #person2:hover{
    transform: scale(1.4);
    transition: transform 0.5s ease-in-out;
}
footer{
    background-color: #608A79;
    width: 102%;
    margin-bottom: -10px;
    margin-left:-10px;
}
#copyright{
    text-align: center;
    color: white;
    background-color: #608A79;
    padding-top: 0px;
}
#form-1, #form-2, #form-3, #form-4 {
    width: 100%;
    margin: 10px;
    padding: 2px;
    color: white;
    font-size: 1vw;
}
#form-1, #form-2, #form-3{
    height: 40px;
}
#form-1, #form-2{
    width:47%;
}
#form-4{
    height: 100px;
}
.contact-input{
    width: 100%;
    height: 90%;
    background-color: #B6CAC2;
    border: none;
    border-radius: 10px;
}
#contact-form{
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
}
#contact-submit{
    margin: 30px auto 30px auto;
    background-color: #497043;
    border-radius: 10px;
    border-color: #426E48;
    width: 10vw;
    height: 1.5vw;
    color: #B5CEB2;
}
#gallery{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#gallery-background{
    margin:auto;
    height: 500px;
    width: 80%;
    background-color: #ABABAB;
    margin-bottom: 100px;
}
#gallery-left-button{
    height: 50px;
    width: 50px;
    background-color: #ABABAB;
}
#gallery-right-button{
    height: 50px;
    width: 50px;
    background-color: #ABABAB;
}
#gallery-slide{
    height: 100%;
    width: 70%;
    background-image: url("Images/builder.jpg");
    background-size: cover;

}