#project-intro{
    height: 200px;
    width: 800px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    padding-top: 50px;
}
#p1-prjct-slideshow{
    margin: auto;
    height:600px;
    width: 600px;
    background-image: url("Images/Family1.jpg");
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
    background-position: center;
    border-radius: 50px;
 
}

#p1-project-table{
    margin:auto;
    border-collapse: collapse;
    margin-top: 100px;
    text-align: center;
    vertical-align: middle;
}
#p1-project-table td,#p1-project-table th{
    border: 1px solid;
    height: 50px;
    background-color: rgba(96,138,121,0.4);
    padding: 10px;
    width: 300px;
   
}
#p1-project-table th{
    background-color: darkgray;
}
#p1-table-slideshow-container{
    display: flex;
    width: 93%;
    flex-direction: row;
    margin-top: 50px;
    justify-content: flex-start;
}
#p1-slideshow-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#p1-slideshow-caption{
    margin: auto;
    margin-top: 20px;
    font-size: 25px;
}
#p1-family1, #p1-family2, #p1-family3, #p1-family4, #p1-family5, #p1-family6,
#p2-family1, #p2-family2, #p2-family3, #p2-family4, #p2-family5, #p2-family6{
    width: 100%;
    height: 100%;
}
#p2-prjct-slideshow{
    margin: auto;
    height:600px;
    width: 600px;
    background-image: url("Images/Family2.jpg");
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
    background-position: center;
    border-radius: 50px;
 
}

#p2-project-table{
    margin:auto;
    border-collapse: collapse;
    margin-top: 100px;
    text-align: center;
    vertical-align: middle;
}
#p2-project-table td,#p2-project-table th{
    border: 1px solid;
    height: 50px;
    background-color: rgba(96,138,121,0.4);
    padding: 10px;
    width: 300px;
   
}
#p2-project-table th{
    background-color: darkgray;
}
#p2-table-slideshow-container{
    display: flex;
    width: 93%;
    flex-direction: row;
    margin-top: 50px;
    justify-content: flex-start;
}
#p2-slideshow-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#p2-slideshow-caption{
    margin: auto;
    margin-top: 20px;
    font-size: 25px;
}
#project-intro{
    background-color: #608A79;
    margin:75px auto auto auto;
    color: white;
    padding: 25px;
    font-size: 1.2vw;
    text-align: center;
    vertical-align: middle;
    height: 20%;
}