#sidebar-1:hover, #sidebar-2:hover, #sidebar-3:hover, #sidebar-4:hover, #sidebar-5:hover{
    opacity: 1;
}
#sidebar-1:active, #sidebar-2:active, #sidebar-3:active, #sidebar-4:active, #sidebar-5:active{
    width:45px;
    height: 45px;
}
#sidebar-1, #sidebar-2, #sidebar-3, #sidebar-4, #sidebar-5{
    height: 40px;
    width: 40px;
    background-size: cover;
    border: 0px;
    opacity: 0.7;
}
#sidebar-1{
    background-image: url("Images/sidebar-1.png");
}
#sidebar-2{
    background-image: url("Images/sidebar-2.png");
}
#sidebar-3{
    background-image: url("Images/sidebar-3.png");
}
#sidebar-4{
    background-image: url("Images/sidebar-4.png");
}
#sidebar-5{
    background-image: url("Images/sidebar-5.png");
}
#sidebar{
    display: flex;
    flex-direction: column;
    height: 300px;
    position:fixed;
    margin-top: 50px;
}